.close{
    position: relative;
    button{
        position: absolute;
        position: absolute;
    top: -62px;
    left: -18px;
    svg{
        font-size: 18px;
        color: #252525;
    }
    }
  
}
.card{
    background-color: #F6F6F6;
    padding: 28px;
    border-radius: 4px;
    padding-bottom: 80px;
}