.content{
    padding: 40px;
    p{
        font-family: "Open Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration-line: underline;
        color: #753403;
        cursor: pointer;
    }
}
.contents{
    p{
        font-family: "Open Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration-line: underline;
        color: #753403;
        cursor: pointer;
    }
}